body {
    background-color: #f2f2f2; 
}

h1, 
h2 {
    color: #313740;
    font-family: 'Montserrat', sans-serif;
}



a {
    color: #3290A6;
    font-family: 'Archivo', sans-serif;
}

a:hover {
    color: #99B8BF;
    font-family: 'Archivo', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

#finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}

#everything {
    align-content: center;
    align-self: center;
}

#High_scores{
    border-style: solid;
    text-align: center;
    padding: 1%;
    margin: 1% 0%;
    border: thick solid grey;
    border-radius: 10px;
    color: black;
    background-color: #606e7c;
}

#High_scores a{
color: black;
font-size: 25px;
}

#timer {
    float: right;
    font-size: xx-large;
    background-color: green;
    border-style: groove;
    border-color: black;
    border-radius: 20px;
    padding: 1%;
}

#start-quiz-button{
    display: inline-block;
}


